:root {
    --primary-color: #bb0a12; 
    --dark-color: #141414;
	--light-color: #f4f4f4;
}
::selection {
    background-color:var(--dark-color);    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font: 'Arial', sans-serif; */
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: gray;
}

a {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
ul {
    list-style: none;
}

img {
    width: 40%;
}

.showcase {
    width: 100%;
    height: 90vh;
    position: relative;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/d253acf4-a1e2-4462-a416-f78802dc2d85/9832d130-edbc-4e1c-ba2a-31d56d6669d5/EG-en-20240429-POP_SIGNUP_TWO_WEEKS-perspective_WEB_26d28c33-cc33-4361-83f2-dad9271aa8f0_small.jpg') no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0; 
    background: rgba(0,0,0,0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    box-shadow: inset 120px 100px 200px #000000, inset -120px -100px 200px #000000;
}
.showcase-top {
    height: 90px;
    position: relative;
    z-index: 2;
}
.showcase-top img {
    width: 100px;
    height: 90px;
    position: absolute;
    left: 10%;

}

.showcase-top a {
    position: absolute;
    right: 5%;
    top:40%; 
    z-index: 2;
} 

.showcase-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    z-index: 2;
    width: 65%;
}

.showcase-content h1 {
      font-weight: 800;
      font-size: 3rem;   
}

.showcase-content p {
    text-transform: uppercase;
    padding: 40px;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.1;

}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    padding: 0.4rem 1.3rem;
    cursor: pointer;
    text-align: center;
    outline: none;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-xl {
    font-size: 1.7rem;
    padding: 1.5rem;
}

.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
	border-right: none;
}
.tabs .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.tabs p {
    padding-top: 2rem;
    font-size: 1.3rem;
}
.tabs .container >div {
    padding: 1.5rem 0;
}
.tab-border {
	border-bottom: var(--primary-color) 4px solid;
}

#tab-1-content .tab-1-content-inner,
#tab-3-content .tab-3-content-inner  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

#tab-2-content .tab-2-content-inner,
#tab-4-content .tab-4-content-inner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
}


#tab-1-content img {
    width: 90%;
}
#tab-2-content img {
    width: 100%;
}
#tab-3-content img {
    width: 90%;
}
#tab-4-content img {
    width: 90%;
}
.border {
	border-bottom: var(--dark-color) 4px solid;
    padding-top: 2rem;
}
.tabs .container >div:hover {
   color: white;
   cursor: pointer;
}
.icon1 {
    color: #bb0a12; 
}

.icon1 :hover{
    color: #ffff;
    cursor:alias;
}

.text-large {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.text-xl {
     font-size: 3rem;
     font-weight: 500;
     margin-bottom: 1rem;
     color: #fff;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}

.Freq-Questions {
    text-align: center;
}
.Freq-Questions h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: xx-large;
}
.Freq-Questions .container .rectangle {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem; 
    position: relative; 
    left: 25%; 
    width: 50%; 
    background-color: var(--dark-color); 
    /* height: 50px;  */
    font-size: 1.5rem;
   
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center; 
    justify-content: center;
    margin-bottom: 1rem;
    color: #fff;
}
.Freq-Questions .container :hover {
    cursor: pointer;
    opacity: 0.5;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 2rem;
    margin-left: 2rem;
}

.footer ul li {
    padding-top: 1rem;
    text-decoration: underline;
}

@media (max-width: 960px) {

    .showcase {
    height: 80vh;
}


.showcase-content h1 {
    font-size: 1.9rem;
    
}

.showcase-content p {
    font-size: 1rem;
}
.btn-xl {
    font-size: 0.9rem;
    padding: 1rem;
   
}

.text-xl {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.Freq-Questions h1 {
  
    font-size: x-large;
}

.Freq-Questions .container .rectangle {
    font-size: 1rem;
    padding-left: 1rem;
}
.footer {
    grid-template-columns: repeat(2, 1fr);
}

.hide{
    display: none;
}

}

@media (max-width: 500px) {
    #tab-1-content .tab-1-content-inner,
    #tab-3-content .tab-3-content-inner,
    #tab-4-content .tab-4-content-inner,
#tab-2-content .tab-2-content-inner {
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
}